<a href="https://colab.research.google.com/github/sxm18940/Assignment1/blob/main/MLAssignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import statistics
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort() # using sort() to get the sorted list 
#1
print("sorted ages:", ages) 
print("min",min(ages)) # using min() to get the minimum value of the list
print("max",max(ages)) # using max() to get the maximum value of the list
#2
ages.append(min(ages)) # using append() to add the value to the list
ages.append(max(ages))
print("after appending min and max",ages)
#3
print("Median of ages is : % s "
        % (statistics.median(ages))) # using Median() to get the median value of the list
#4
sum=0
for i in range(len(ages)):
    sum=sum+ages[i] # Using For loop to fing the sum of all the values in the list 
print("average of ages is: ",sum/len(ages)) # Finding the average using the sum and length of the list
#5
print("range of ages is : ", max(ages)-min(ages))

sorted ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
min 19
max 26
after appending min and max [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median of ages is : 24.0
average of ages is:  22.75
range of ages is :  7

In [ ]:
#1
dog= {}
#2
dog['Name'] = 'John'
dog['color'] = 'white'
dog['Breed'] = 'Shizu'
dog['Legs'] = 4
dog['age'] = 1
#3
student_dictionary={
    'First_Name':'Ash',
    'Last_Name':'One',
    'Gender':'F',
    'age':25,
    'Maritial_Status':'Single',
    'Skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'Country': 'India' ,
    'City' : 'Hyderabad',
    'address' : {
        'street':'Space street',
        'zipcode':'02210'
    }
   
}
#4
print("length of the dictionary:", len(student_dictionary)) #Get the length of the student dictionary
#5
print("List of the skills:", student_dictionary['Skills']) # Get the list of skills
print("data type:", type(student_dictionary['Skills']))#Get the value of skills and check the data type using type()
#6
student_dictionary['Skills'].append('HTML')
#7
keys = student_dictionary.keys()
print(keys)
#8
values = student_dictionary.values()
print(values)

length of the dictionary: 9
List of the skills: ['JavaScript', 'React', 'Node', 'MongoDB', 'Python']
data type: <class 'list'>
dict_keys(['First_Name', 'Last_Name', 'Gender', 'age', 'Maritial_Status', 'Skills', 'Country', 'City', 'address'])
dict_values(['Ash', 'One', 'F', 25, 'Single', ['JavaScript', 'React', 'Node', 'MongoDB', 'Python', 'HTML'], 'India', 'Hyderabad', {'street': 'Space street', 'zipcode': '02210'}])

In [14]:
#1
sister = ("Lavanya","Chaitanya")
brother = ("Jashwanth","Goutham")
#2
siblings = sister + brother
print("Sisters:", sister)
print("Brothers:", brother)
print("Siblings:", siblings)
#3
print("length of siblings:", len(siblings))
#4
parent_tuple = ("Ramesh","Lakshmi")
siblings = siblings + parent_tuple #modifying siblings 
family_members = siblings
print("family members:", family_members)

Sisters: ('Lavanya', 'Chaitanya')
Brothers: ('Jashwanth', 'Goutham')
Siblings: ('Lavanya', 'Chaitanya', 'Jashwanth', 'Goutham')
length of siblings: 4
family members: ('Lavanya', 'Chaitanya', 'Jashwanth', 'Goutham', 'Ramesh', 'Lakshmi')

In [ ]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
#1
print("length of set it companies",len(it_companies)) # Getting the length using len()
#2
it_companies.add("Twitter") # adding one more company by using add() since append dosent work as it is a set
#3
up_ele=["softsol","bringe","Netflix","Sony"]
it_companies.update(up_ele) # adding mutliple comapanies to the it_comapany set using update()
#4
it_companies.remove('Apple') # using remove() to delete a value from the set
#5
#Difference between remove and discard: The remove() method will result in an error if the particular item does not exist whereas the discard() method will not")
#6
print("Union: ", A | B)
#7
print("Intersection: ", A & B)
#8
print("A is subset of B:", A.issubset(B))
#9
Disjoint = A.isdisjoint(B)
print("Are A and B disjoint sets: ",Disjoint)
#10
joined_a = A.union(B) # Joining A with B
joined_b = B.union(A) # JOining B with A
#11
print("Symmetric difference :", A ^ B)
#12
A.clear()
B.clear()
#13
Ages_Set = set(age)
print("Ages set is:", Ages_Set)
print("The length of list is :",len(age),"and set is :",len(Ages_Set))

length of set it companies 7
Union:  {19, 20, 22, 24, 25, 26, 27, 28}
Intersection:  {19, 20, 22, 24, 25, 26}
A is subset of B: True
Are A and B disjoint sets:  False
Symmetric difference : {27, 28}
Ages set is: {19, 22, 24, 25, 26}
The length of list is : 8 and set is : 5

In [15]:
r=30
#1
_area_of_circle_=3.14*(r**2) # Calculating Area 
#2
_circum_of_circle_=2*3.14*r # Calculating Circumference
print("area of circle is",_area_of_circle_)
print("circumference of the circle is",_circum_of_circle_)
#3
user_radius=int(input("enter the radius: "))
area=3.14*(user_radius**2)
print("area of circle with radius given by user is",area)

area of circle is 2826.0
circumference of the circle is 188.4
enter the radius: 22
area of circle with radius given by user is 1519.76

In [ ]:
sentence = "I am a teacher and I love to inspire and teach people"

#splitting the string for getting the individual elements
Split = sentence.split(" ")
split_set = set(Split)
print("Distinct Words in the string:",split_set)
print("Number od unique words:", len(split_set))

Distinct Words in the string: {'teach', 'teacher', 'to', 'a', 'inspire', 'I', 'am', 'and', 'love', 'people'}
Number od unique words: 10

In [ ]:
print('Name\tAge\tCountry\tCity\nAsabench\t250\tFinland\tHelsinki')

Name	Age	Country	City
Asabench	250	Finland	Helsinki

In [ ]:
r1=10
area1=3.14*(r1**2)
txt="The area of a circle with radius {} is {} meters square.".format(r1,area1)
print(txt)

The area of a circle with radius 10 is 314.0 meters square.

In [ ]:
lb1=[]
kg1=[]
n = int(input("Enter number of weights in lbs : "))
# iterating till the n
for i in range(0, n):
    tmp = int(input())
    lb1.append(tmp) # pushing the user input to the list lb1
for i in range(0, n):
    t1=(0.453592)*lb1[i]
    kg1.append(round(t1,2)) # Converting the lbs to kgs and pushing to kg1 list
print("lbs",lb1)
print("kgs",kg1)

Enter number of weights in lbs : 4
150
155
145
148
lbs [150, 155, 145, 148]
kgs [68.04, 70.31, 65.77, 67.13]